body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
  line-height: 1.6;
}
h2 {
  color: #00000080;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  margin-bottom: 0.5rem;
}
section {
  margin-top: 2rem;
}
pre {
  background: #f4f4f4;
  padding: 1rem;
  overflow-x: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0rem;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f0f0f0;
}
footer img {
  width: 100px;
  margin: 2rem 0rem 0rem 0rem;
}
footer p {
  margin-top: 0rem;
}
